PINECONE_API_KEY=pcsk_4KGVgp_5qo7GfakeonRNPr8EK3puxd52rdbsUMyDhRhiPT1nXSeMJLPYH7EM8ypT4VsDYkRu
supabaseproject=k3jeAcaXLaejUxTe
SUPABASE_URL=https://vydaoscjyxkgrhepurhi.supabase.co
SUPABASE_SECRET_KEY=sb_secret_Pp7vkVu8lleQtCuJC1sdfdsfdsfvYQ_DoCAg9pU
SUPABASE_PUBLISHABLE_KEY=sb_publishable_OQwUvsdfsdsfsd3SyiJ5wJLKX6KK7tw_AlAGmJd7


# these are all fake keys, but make sure to replace them with your actual keys in the .env file. 
# Do not share your actual keys publicly or commit them to version control.